[tools]
"asdf:jtakakura/asdf-odin" = "dev-2025-11"

[tasks.bootstrap]
description = "Build the build tool"
run = "odin build src/tools/build.odin -out:build -file"
sources = ["src/tools/build.odin"]
outputs = ["build"]

[tasks.build]
run = "$MISE_PROJECT_ROOT/build"
description = "Run the build tool"
depends = ["bootstrap"]
